<div class="restaurant-card">

  <a href="/restaurants/{{this.id}}" class="restaurant-profile-container">
    <h3>{{this.name}}</h3>
    <p>Joined on {{this.createdAtFormatted}}</p>
  </a>

  {{#if (eq @root.currentUser.role "admin")}}
    <button type="button" onclick="showModal({{this.id}}, '{{@root.deleteUrlBase}}')" class="delete-btn">
      Delete
    </button>
  {{/if}}

</div>