<div class="user-card">
    <p>Username: <span>{{this.name}}</span></p>
    <p>email: <span>{{this.email}}</span></p>
    <p>Role: <span>{{this.role}}</span></p>
    <p>Created at: <span>{{formatDate this.createdAt}} | ID: <span>{{this.id}}</span></span></p>
    {{#if (eq @root.currentUser.role "admin")}}
        <button type="button" onclick="showModal({{this.id}}, '{{@root.deleteUrlBase}}')" class="delete-btn">
            <i class="fa-solid fa-trash-can"></i>
        </button>
    {{/if}}
</div>