<h1>{{menu.menuTitle}}</h1>

<div>
    {{#if (eq currentUser.username menu.creator)}}  
    <button class="create-btn" type="button" onclick="window.location.href='/menus/{{menu.menuTitle}}/edit'">
        edit
    </button>
    {{/if}}
    <ul class="items-list">
        {{#each menu.days}}
            <a href="/menus/{{../menu.menuTitle}}/{{@index}}">{{this}}</a>
        {{/each}}
    </ul>
</div> 

