<h1>{{menu.menuTitle}}</h1>

<div class="day-menu">
    {{#if (eq currentUser.username menu.creator)}}  
    <button id="edt-btn" class="create-btn" type="button" onclick="window.location.href='/menus/{{menu.menuTitle}}/edit'">
        edit
    </button>
    {{/if}}
    <div class="items-list">
        {{#each menu.days}}
        <div class="form-menu-day">
            <a href="/menus/{{../menu.menuTitle}}/{{@index}}">{{this}}</a>
        </div>
        {{/each}}
    </div>
</div> 

